# Игнорирование виртуального окружения
venv/
.env/
new_venv/
.venv/
new_env/
/synthetic_media/practice_2/media/
/synthetic_media/practice_3/tortoise-tts/
Synenv/
# Игнорирование временных файлов и директорий
__pycache__/
*.pyc
*.pyo
.mypy_cache/
.pytest_cache/
.vscode/

synthetic_media/practice_4/data/VCTK-Corpus/
synthetic_media/practice_4/data
synthetic_media/practice_4/runs
synthetic_media/practice_4/VCTK-Corpus.zip
synthetic_media/practice_4/VCTK-Corpus
synthetic_media/practice_4/wandb