# Игнорирование виртуального окружения
venv/
.env/
new_venv/
.venv/
new_env/
/synthetic media/practice_2/media/
# Игнорирование временных файлов и директорий
__pycache__/
*.pyc
*.pyo
.mypy_cache/
.pytest_cache/
.vscode/
